{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Custom styling plus plugins -->
    <link href="{{ asset('includes/css/custom_login.css') }}" rel="stylesheet">
    <link href="{{ asset('includes/css/icheck/flat/green.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div>
        <div id="custom-wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    {{ form_start(form) }}

                        <h1>{{ 'Reputation Loop'|trans }}</h1>
                        <div class="col-xs-12">
                            {{ form_widget(form.businessName) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_widget(form.address) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.city) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.state) }}
                        </div>
                        <div class="col-xs-4">
                            {{ form_widget(form.zipcode) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_widget(form.phoneNumber) }}
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-success col-xs-12" value="{{ 'Scan results'|trans|upper }}">
                        </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
