{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Custom styling plus plugins -->
    <link href="{{ asset('includes/css/custom_login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="lead label-success custom-label">{{ 'Search values'|trans }}</h3>
                            {% for label, parameter in search_data %}
                                {% if parameter is not empty %}
                                    <div class="col-xs-12" style=" font-size: 16px;">
                                        {% if label == 'businessName' %}
                                            <div class="col-xs-3" style="font-weight: bold;">{{ 'Business Name'|trans }}:</div>
                                        {% elseif label == 'zipcode' %}
                                            <div class="col-xs-3" style="font-weight: bold;">{{ 'ZIP'|trans }}:</div>
                                        {% elseif label == 'phoneNumber' %}
                                            <div class="col-xs-3" style="font-weight: bold;">{{ 'Phone Number'|trans }}:</div>
                                        {% else %}
                                            <div class="col-xs-3" style="font-weight: bold;">{{ label|capitalize }}:</div>
                                        {% endif %}
                                        <div class="col-xs-9">{{ parameter }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="page-title">
                        <h3 class="lead label-primary custom-label">
                            {{ 'Search business results'|trans }}
                        </h3>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'Business'|trans }}</th>
                                                <th>{{ 'Address'|trans }}</th>
                                                <th>{{ 'Phone number'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, result in results %}
                                                <tr>
                                                    <th scope="row">{{ key + 1 }}</th>
                                                    <td>{{ result['name'] }}</td>
                                                    <td>{{ result['full_address']|raw }}</td>
                                                    <td>{{ result['phone_number']|raw }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
{% endblock %}
