/**********************MAIN***************************/
#block {
    position:relative;
    margin:0 auto;
    top:0px;
    width:980px;
    min-height:400px;
    height:100%;
    outline:0px solid #000;
    /*border:1px solid #000;*/
}
#loading {
    position:absolute;
    top:100px;
    left:66px;
}
#module {
    width:272px;
    height:390px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:3;
}
#gallery {
    width:692px;
    height:388px;
    border:2px solid #559128;
    position:absolute;
    top:0px;
    right:0px;
    z-index:2;
}
#hint {
    position:absolute;
    left:98px;
    top:48px;
    z-index:4;
}
.ie10 #hint { /*for IE 10*/
    position:absolute;
    left:49px;
    top:53px;
    z-index:4;
}
#topCountries {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
}

/****************** ENTYPO************************/
@font-face {
    font-family: 'EntypoRegular';
    src: url('../font_mod/entypo.eot');
    src: url('../font_mod/entypo.eot?#iefix') format('embedded-opentype'),
    url('../font_mod/entypo.woff') format('woff'),
    url('../font_mod/entypo.ttf') format('truetype'),
    url('../font_mod/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('../font_mod/entypo-social.eot');
    src: url('../font_mod/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('../font_mod/entypo-social.woff') format('woff'),
    url('../font_mod/entypo-social.ttf') format('truetype'),
    url('../font_mod/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo {
    font-family: 'EntypoRegular';
    font-size: 2em;
    font-weight: normal;
    line-height: 0;
}
.entypo-social {
    font-family: 'EntypoSocialRegular';
    font-size: 2em;
    font-weight: normal;
    line-height: 0;
}
.entypo.circled-info:before {
    padding:0;
    cursor: help;
    color:#CC3333;
    font-size:32px;
    content:'\E705';
}
/*******************HINT************************************/
.entypo.circled-info /*.toolTip*/ {
    color: #000;
    cursor: help;
    padding-right: 0px;
    position: relative;
}
.entypo.circled-infoWrapper/*.toolTipWrapper*/ {
    color: #FFFFFF;
    display: none;
    font-size: 5pt;
    font-weight: bold;
    position: absolute;
    width: 244px;
    top: 34px;
}
.entypo.circled-infoTop {
    background: url("../img_mod/hint/bubbleTop2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 16px;
    width: 175px;
    position: absolute;
    top: -9px;
    left: -30px;
}
.entypo.circled-infoMid {
    background: url("../img_mod/hint/bubbleMid2.gif") repeat-x scroll center top #A1D40A;
    padding: 12px 6px 13px 6px;
    position: absolute;
    top: 1px;
    left: -72px;
    font-family: 'Arial';
    font-size:11px;
}
.entypo.circled-infoBtm {
    background: url("../img_mod/hint/bubbleBtm2.gif_") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
}

/***************TOP COUNTRIES***********************/
.tlbp_s_city {
    border: 2px solid #818181;
}

#SmartPoint {
    margin:15px 0 15px 0;
    outline:0px solid #000;
    min-height:480px;
}
.sub-menu > li .sub-sub{
    z-index:10;
}