body {
    padding:0;
    margin:0;
}
#block {
    position:relative;
    margin:10px auto;
    padding:0;
    width:980px;
    height:600px;
}
#gallery {
    position:relative;
}
#modul {
    position:absolute;
    left:37px;
    top:45px;
    width:556px;
    height:200px;
}
#hint {
    position:absolute;
    left:150px;
    top:92px;
    z-index:4;
}
.ie10 #hint { /*for IE 10*/
    position:absolute;
    left:94px;
    top:96px;
    z-index:4;
}
#topCountries {
    position:absolute;
    bottom:0;
    left:0;
}
/******************MAIN SEARCHRESULTS & BOOKING************/
#wrapperResults {
    min-height:600px;
    outline: 0px solid #000;
    width:1000px !important;
    margin:10px auto;
    padding:0;
}
#wrapperBooking {
    width:960px !important;
    padding:0;
    margin:10px auto;
    min-height:600px;
}
#wrapperConfirm {
    width:960px !important;
    padding:0;
    margin:10px auto;
    min-height:600px;
}
/****************** ENTYPO************************/
@font-face {
    font-family: 'EntypoRegular';
    src: url('../font_mod/entypo.eot');
    src: url('../font_mod/entypo.eot?#iefix') format('embedded-opentype'),
    url('../font_mod/entypo.woff') format('woff'),
    url('../font_mod/entypo.ttf') format('truetype'),
    url('../font_mod/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EntypoSocialRegular';
    src: url('../font_mod/entypo-social.eot');
    src: url('../font_mod/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('../font_mod/entypo-social.woff') format('woff'),
    url('../font_mod/entypo-social.ttf') format('truetype'),
    url('../font_mod/entypo-social.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.entypo {
    font-family: 'EntypoRegular';
    font-size: 2em;
    font-weight: normal;
    line-height: 0;
}
.entypo-social {
    font-family: 'EntypoSocialRegular';
    font-size: 2em;
    font-weight: normal;
    line-height: 0;
}
.entypo.circled-info:before {
    padding:0;
    cursor: help;
    color:#CC3333;
    font-size:32px;
    content:'\E705';
}
/*******************HINT************************************/
.entypo.circled-info /*.toolTip*/ {
    color: #000;
    cursor: help;
    padding-right: 0px;
    position: relative;
}
.entypo.circled-infoWrapper/*.toolTipWrapper*/ {
    color: #FFFFFF;
    display: none;
    font-size: 5pt;
    font-weight: bold;
    position: absolute;
    width: 244px;
    top: 34px;
}
.entypo.circled-infoTop {
    background: url("../img_mod/hint/bubbleTop2.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 16px;
    width: 175px;
    position: absolute;
    top: -8px;
    left: -30px;
}
.entypo.circled-infoMid {
    background: url("../img_mod/hint/bubbleMid2.gif") repeat-x scroll center top #A1D40A;
    padding: 12px 6px 13px 6px;
    position: absolute;
    top: 4px;
    left: -84px;
    font-family: 'Arial';
    font-size:11px;
}
.entypo.circled-infoBtm {
    background: url("/img_mod/hint/bubbleBtm2.gif_") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
}
/********************Top Hotels****************************/
.tlbp_s_city {
    border: 2px solid #559128;
}
/***************POP UP*******************************/
#popUp {
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9c000000', endColorstr='#9c000000'); /* IE */
    z-index: 998;
}
#backPop {
    position:relative;
    width:800px;
    height:500px;
    margin:0 auto;
    top:8.8%;
}
#imagePop {
    display: none;
    position:absolute;
    top:13%;
    left:143.5px;
    padding: 0;
    z-index: 999;
}
/********************TOP MENU**********************/
#navi {
    font-family: 'Arial';
    border-radius:0px;
    height:30px;
    width:99.6% !important;
    border-bottom:1px solid #559128;
    margin-bottom:5px;
}
#navi li {
    display:inline;
}
#navi .float {
    padding-right: 0;
}
#lang a {
    border-bottom: 0 none;
}
#steps li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
#steps li:first-child {
    padding-left: 0;
}
#steps li.current {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#steps li.current a {
    color: #474747 ;
    text-shadow: none;
    font-family: 'Arial';
}
#navi #steps li a, #navi #steps li .next, #navi #steps li span {
    background: url('../img_mod/topmenu/grey.png') no-repeat scroll left center rgba(0, 0, 0, 0);
    padding: 0 15px 0 30px !important;
    position: relative;
    font-size:14px;
}
#navi #steps li .next {
    color: #ABABAB;
    font-family: 'Arial';
}
#navi #steps li:first-child a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 0;
    margin-left: -68px;
    position: relative;
    font-family: 'Arial' !important;
}
#navi #steps li.current a, #navi #steps li.current .next, #navi #steps li.current span {
    background: url('../img_mod/topmenu/black.png') no-repeat scroll left center rgba(0, 0, 0, 0);
}
#steps a,li,.next, .here {
    top: 0px;
}
.here {
    color: #000;
    font-family: 'Arial';
}
#navi a {
    color: #0076A3; /*Link Color*/
}
#navi a:visited {
    color: #0076A3; /*Link Color Visited*/
}
#navi a:active {
    color: #0076A3; /*Link Color Active*/
}
img.LoadingBox{
    display:none;
}
.sub-menu > li .sub-sub{
    z-index: 10;
}
