@import url('http://tlbp.com.ua/content/results_unrecognized_content.css');

#clz-main-wrapper h1,
#clz-main-wrapper h2,
#clz-main-wrapper h3,
#clz-main-wrapper h4,
#clz-main-wrapper h5,
#clz-main-wrapper h6,
#clz-main-wrapper input,
#clz-main-wrapper label,
#clz-main-wrapper textarea,
#clz-main-wrapper p,
#clz-main-wrapper span,
#clz-main-wrapper div,
#clz-main-wrapper table,
#clz-main-wrapper td,
#clz-main-wrapper th,
#clz-main-wrapper td:hover,
#clz-main-wrapper th:hover,
#clz-main-wrapper img {
    font-family: 'Arial';
    font-size: 12px;
}

/*---------------------left first block----------------------------*/
#clz-main-wrapper .well.sidebar-nav { /*second MAIN left block - use only border radius*/
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 0 0;
    padding: 0;
    position: relative;
}
#clz-main-wrapper .sidebar-navSearchBox { /*left first block*/
    background-color: #fff;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    padding: 0 10px 10px;
    margin-bottom: 14px;
}
#search_roomInfo_1 { /*rooms block - position*/
    margin-left: -5px;
    margin-top: 0px !important;
    padding-left: 0;
    position: relative;
}
#cl_search_roomsInfo { /*rooms block - design*/
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0 !important;
    padding: 7px 7px 7px 10px !important;
    position: relative;
    width: 202px;
}
#clz-main-wrapper .hdp_title h3 { /*height block - search of hotels*/
    background-color:#559128 ;
    border-bottom: 1px solid #559128 ;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    margin: 0 11px;
    padding-left: 0;
}
#clz-main-wrapper .hdp_title {
    background-color:#559128;
    height:36px;
}
#clz-main-wrapper .hotels-left-inside-wrapper h3, #clz-main-wrapper .hliw_block label {/*main word in height block*/
    color: #FFF !important;
    font-size: 11px !important;
    font-weight: bold;
}
.customize_sub_label { /*words adult and chld*/
    color: #F99600;
    display: block;
    font-size: 11px !important;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper input { /*input city, check in/out, ad, chld*/
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #559128;
    border-radius: 0px 0px 0px 0px;
    display: inline-block;
    font-size: 12px;
    height: 20px !important;
    padding: 4px;
    margin-top:1px;
}
.cl_addroom a { /*add an.room*/
    color: #F99600 !important;
    font-size:11px !important;
}
.cl_addroom a:hover { /*add an.room hover*/
    color: #818181 !important;
    text-decoration: underline;
}
.btn-group .dropdown-toggle { /*first block - currency choice*/
    box-shadow: none !important;
    border: 1px solid #559128;
    border-radius: 0px 0px 0px 0px !important;
    display: inline-block;
    font-size: 12px;
    height: 20px !important;
    padding: 4px;
}
.close { /*close add rooms*/
    font-size: 26px !important;
    font-weight: bold;
    line-height: 61px;
    text-shadow: 0 1px 0 #FFF;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper .hotels-datepicker-wrapper label input.hotels-datepicker-input { /*input calendar*/
    background: url("http://www.worldtravelink.com/Theme/Blue/hotel/Images/dtpc_gb2.png") no-repeat scroll 95% 49% #FFFFFF;
    min-width: 94px;
    width: 33px;
}
#clz-main-wrapper .classname { /*new button style */
    text-shadow: 1px 1px 0px #528ecc;
    border: 1px solid #84bbf3;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #79bbff;
    xfilter: progid:dximagetransform.microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -moz-linear-gradient(center top , #1899CA 5%, #1899CA 100%) repeat scroll 0 0 #79BBFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1899CA), color-stop(1, #1899CA));
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 1px 0 0 #BBDAF7 inset;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 18px;
    text-align: center !important;
    text-decoration: none !important;
    width: 55px !important;
}
#clz-main-wrapper .classname:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1285b1), color-stop(1, #1285b1));
    background: -moz-linear-gradient(center top, #1285b1 5%, #1285b1 100%);
    xfilter: progid:dximagetransform.microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color: #378de5;
    font-size:13px;
    color:White;
}
#clz-main-wrapper .classname:active {
    position: relative;
    top: 1px;
}

/*------------------left second block----------------------------*/
#clz-main-wrapper .sidebar-navSearchIdBox { /*block*/
    background-color: #fff;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    padding: 0 0 20px;
    margin-bottom: 14px;
}
.SearchIdBox .Title { /*top words*/
    color: #000 !important;
    font-weight:normal !important;
    font-size: 13px !important;
    padding-bottom: 4px !important;
    padding-left: 11px !important;
    padding-top: 10px !important;
}
.SearchIdBox .InputValue input { /*input*/
    clear:both !important;
    width:191px !important;
    height:20px !important;
    color:#000 !important;
    font-weight:bold !important;
    background-color:#FFF !important;
    width: 205px !important;
}

/*---------------left third block-----------------*/
#clz-main-wrapper .sidebar-navFilterBox { /*block - use border,color,radius*/
    background-color: #fff;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    padding: 0 10px 10px;
    width: 214px;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper h2 { /*height block - words - use border,color*/
    background-color:#fff;
    border-bottom: 1px solid #559128;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    margin: 0 0 17px;
    padding-left: 0;
}
#clz-main-wrapper #cl_SearchFilter h3, #clz-main-wrapper .hliw_block label { /*words in all block*/
    color: #000 !important;
    font-size: 12px !important;
    font-family: "Arial" !important;
    font-weight: normal;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper #cl_SearchFilter #cl_SearchInput { /*input search anth. htl*/
    margin-left: -6px !important;
    width: 203px !important;
}
.SliderTable td { /*price from - to*/
    border:0px !important;
    background-color:transparent !important;
    color:#000 !important;
}

/*-----------------for ie8----------------------*/
#clz-main-wrapper .well { /*third block display*/
    padding: 14px 5px;
    box-shadow: 0px 0x 0px #DDCFBC;
}

#clz-main-wrapper .hotels-left-inside-wrapper { /*third block display*/
    background: transparent;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 14px 8px !important;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
}
#clz-main-wrapper .hotels-left-inside-wrapper h3 { /*third block display*/
    position: relative;
    top: -10px;
    left: -7px;
    margin:0;
    padding:0 !important;
    font-style:normal;
}
/*----------------------------end for ie8-------------------------------*/
#clz-main-wrapper .hotels-left-inside-wrapper label { /*third block filter selection - use color*/
    color: #000;
    font-size: 12px;
    line-height: 17px;
    height:21px;
    margin-left:-9px;
    width:173px;
}
#clz-main-wrapper .hotels-left-inside-wrapper a.clear_filters, #clz-main-wrapper .hotels-left-inside-wrapper a.clear_all_filters {
    background: none;/*clear filters button - use color*/
    border-radius: 5px 5px 5px 5px;
    bottom: -8px;
    color: #F3A50F;
    cursor: pointer;
    font-size: 11px;
    position: relative;
    text-decoration: underline;
}
#clz-main-wrapper .hliw_stars_wrapper { /*result of hotels near stars use color*/
    color: #000;
}
#clz-main-wrapper .hliw_checkbox_right_text { /*checkbox results after hotels - use color*/
    color: #000;
    position: relative;
    top: 4px;
}
#hotels-data-wrapper #hdw_top { /*right first block - use border,background, color*/
    background: none repeat scroll 0 0 #559128;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    height: 35px;
    margin: 1px 5px 10px;
}
.SortTitle {/*right first block, first word - use color*/
    color: #FFF;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 35px !important;
    padding-left: 0;
}
.ResultTopCounter { /*right first block, second word - use color*/
    padding-top: 0px;
    margin-top: 2px;
    height: 20px;
    color: #FFF;
    font-size: 14px;
    padding-left:10px;
}
#clz-main-wrapper #hdw_top a.active { /*right first block, right active selection*/
    background: none /*repeat scroll 0 0 #F7A70E */!important;
    border:1px solid #FFF !important;
    color: #FFF !important;
    font-weight: bold;
    border-radius: 0 0 0 0 !important;
    margin-top: 3px !important;
}
#clz-main-wrapper #hdw_top a.btn .caret {/*right first block, right active selection - caret boom*/
    border-top-color: #FFF !important;
    margin-right: 3px;
    opacity: 1;
}
#clz-main-wrapper #hdw_top a.btn {/*right first block, right active selection - not active sect.*/
    margin-left: 12px;
    background: transparent;
    border-radius: 5px;
    color: #fff !important;
    box-shadow: none;
    text-shadow: none;
    border: 0 none;
    padding: 2px 10px;
    text-align: center;
    margin: 3px 0 0;
}
#clz-main-wrapper .hotel-item { /*right second block - hotel info area*/
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 11px !important;
    overflow: hidden;
    padding: 0 0 10px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.23);
    width: 98%;
    margin: 0 auto;
}
#clz-main-wrapper .ItemSelctionZone { /*first price zone*/
    background: none repeat scroll 0 0 #EDEDED;
    border-radius: 0px 0px 0px 0px;
    color: #363636;
    float: right;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 6px;
    margin-top: 1px;
    padding: 13px 35px;
    text-align: center;
}

/*---------------------description of the hotel--------------------*/
#clz-main-wrapper .hotels-heading-data-wrapper h2 { /*name of hotel*/
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    padding-right: 10px;
    padding-top: 0px;
}
#clz-main-wrapper p.hotel_data_info_address { /*hotel adress*/
    color: #000000;
    font-size: 12px;
    line-height: 21px;
    margin:0;
    white-space:nowrap;
}
#clz-main-wrapper p.hotel_data_info_position { /*area in the city*/
    font-size: 12px;
    color: #248ccf;
    line-height: 15px;
    margin:0;
}
#clz-main-wrapper .hotel_data_info_description a { /*addit. information, view map*/
    padding-right: 5px;
    font-family: 'Arial';
    text-decoration: underline;
    font-size: 11px;
    font-weight: normal;
    color: #0076A3;
    cursor: pointer;
}
#clz-main-wrapper .hotel_data_info_description {
    padding-top: 14px;
}
#clz-main-wrapper .hotel_item_left_img { /*image*/
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #559128;
    border-radius: 0px 0px 0px 0px;
    color: #0076A3;
    height: 91px;
    width: 120px;
    padding:0 !important;
}
#clz-main-wrapper .hotel_item_left_img { /*image*/
    background-image:url("../img_mod/wtl/no_picture.jpg") !important;
}

/*---------------------end of description of the hotel--------------------*/
#clz-main-wrapper .hotel_Package_info_SingleItem_Box { /*second price block*/
    border: 1px solid #559128;
    border-radius: 0px 0px 0px 0px;
    margin: 14px 14px 0;
    background-color: #FFF !important;
}
.hotel_Package_info_Price { /*second price zone*/
    background-color: #EEE !important;
    border-left: none !important;
    border-radius: 0px 0px 0px 0px;
    margin: 7px;
    padding: 0;
    width: 188px !important;
    float: right;
}
#clz-main-wrapper .hotel_Package_info_Item_Title_Row { /*second price block, header - use color,background*/
    background-color: #559128;
    color: #FFF;
    height: 22px;
    padding-top: 5px;
    font-size: 11px;
}
.hotel_Package_info_Item { /*second price block, info zone - use background*/
    margin:0px 0px 0px 1px ;
    background-color:#FFF !important;
    width:71%  !important;
    float:left;
    padding-bottom:6px;
    white-space:nowrap;
}
.hotel_Package_info_Item_Room_Text strong { /*second price block, info zone type of room - use color*/
    font-weight: normal;
    font-size: 14px;
    color: #252525;
}
#clz-main-wrapper p.hdic_details , #clz-main-wrapper  .CanceletionPolicyPlaceHolder , .hotel_Package_info_Cancle {
    color: #707070 !important; /*second price block, info zone type of ACC. - use color*/
    font-size:11px !important;
    line-height:14px !important;
    padding-top: 2px;
}
.hotel_Package_info_Item_Room { /*second price block, info zone border bottom*/
    border-bottom: 1px solid #F3A50F;
    height: 40px;
    margin: 15px 14px 0;
    padding-bottom: 10px;
}
.CanceletionPolicyBtn:link { /*second price block, canceletion policy - link*/
    cursor:pointer !important;
    font-size:11px !important;
    text-decoration:underline;
    color:#000 !important;
}
.CanceletionPolicyBtn:hover { /*second price block, canceletion policy - hover*/
    color:#F3A50F !important;
}
#clz-main-wrapper .people_sprite_cont { /*second price block, image people*/
    height: 28px;
    overflow: hidden;
    width: 63px;
    background: url('http://worldtravelink.com/static/img/people.png') no-repeat scroll 0 0 transparent;
}
.Hide_hotel_Package_info { /*second price block - HIDE - link*/
    background-color: #fff;
    color: #0076A3;
    font-weight: normal;
    height: 25px;
    padding: 6px 0 0;
    text-align: center;
    text-decoration: underline;
    border-left: none;
}
.Hide_hotel_Package_info:hover { /*second price block - HIDE - hover*/
    color: #333E55;
}
.Hide_hotel_Package_info img {
    display: none;
}
.GetMoreResults { /*ONLY FOR IE8 - removes the bottom line*/
    display: none;
}
.GetMoreResults img { /*ONLY FOR IE8 - removes the bottom line*/
    display: none;
}
#clz-main-wrapper .FinalPrice { /*ONLY PRICE in different blocks*/
    font-size: 19px;
    font-weight: normal;
    color:#252525;
}
#clz-main-wrapper .Currency { /*ONLY CURRENCY in different blocks*/
    font-size: 14px;
    font-weight: normal;
    color:#252525;
}
.PriceTitle { /*info what is included in the price - text*/
    font-size:11px;
    color:#252525;
    padding-bottom:4px;
}
#clz-main-wrapper .ItemSelctionZone .PriceTitle {/*main info what is included in the price - text*/
    color: #5c5c5c;
    font-size:11px !important;
}
#clz-main-wrapper #hotels_pagination_wrapper { /*bottom block*/
    overflow: hidden;
    padding: 0;
    text-align: center;
    background: none repeat scroll 0 0 #FFF;
    border: 2px solid #559128;
    border-radius: 0px 0px 0px 0px;
    height: 42px;
    margin: 0 0 3px;
}

/*----------------------ARROW BOTTOM BLOCK------------------------*/
.FirstIcon img { /*bottom block - first arrow*/
    display:none;
}
.FirstIcon {
    background-image:url('../img_mod/bottom_arrows/FirstIcon2.png') !important; /*bottom block - first arrow*/
    height:25px !important;
    width:20px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.PreIcon img { /*bottom block - second arrow*/
    display:none;
}
.PreIcon {
    background-image:url('../img_mod/bottom_arrows/PrevIcon2.png') !important; /*bottom block - second arrow*/
    height:15px !important;
    width:15px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    margin-top: 5px;
}
.NextIcon img { /*bottom block - third arrow*/
    display:none;
}
.NextIcon {
    background-image:url('../img_mod/bottom_arrows/NextIcon2.png') !important; /*bottom block - third arrow*/
    height:15px !important;
    width:15px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    margin-top: 5px;
}
.LastIcon img { /*bottom block - fourth arrow*/
    display:none;
}
.LastIcon {
    background-image:url('../img_mod/bottom_arrows/LastIcon2.png') !important; /*bottom block - fourth arrow*/
    height:25px !important;
    width:20px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    margin-top:0px;
}
.SearchLoadingIcon  , .BookLoadingIcon , .LocationLoaderIcon { /*standart loader*/
    background-image:url("http://www.worldtravelink.com/Theme/Blue/hotel/Images/loader_white.gif");
    height:22px;
    width:22px;
}
body .PreLoadOverlayImage { /*off popup image*/
    background-image: none !important;
}
body .jqmOverlay { /*off popup background*/
    background-color: transparent !important;
}
.LoadingImage{ /*off popup loading*/
    top:270px;
    display:none;
}
.MasterImagePfrv img { /*additional information - main picture*/
    border: 2px solid #559128;
    border-radius: 0;
}
.jspPane td img { /*additional information - small pictures*/
    border: 2px solid #559128;
    border-radius: 0;
    padding: 0 !important;
    margin-right: 5px !important;
}
.PopupContentMiddle .jspDrag { /*additional information - all scrolls*/
    background: none repeat scroll 0 0 #559128 !important;
}
.mcs_container p { /*additional information - text color*/
    color:#000 !important;
}
.MapExpenderContainer { /*map container*/
    border: 2px solid #559128;
    border-radius: 0;
}
.classnameRed {
    border-radius: 0px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
.classnameGray {
    border-radius: 0px !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
#PopUpHtmlStract {
    border-radius: 0;
    box-shadow: 10px 10px 10px #818181 !important;
}
.span2 { /*second child age*/
    color:#F99600 !important;
    font-size: 11px;
}
.span2 input {
    margin-top:1px !important;
}
.btn-group.open .dropdown-menu {
    border-radius: 5px;
    display: block;
    height: 84px;
    margin-top: 1px;
    overflow: scroll;
}

#content{
    width:1040px;
    margin-left:-45px;
}

.filter_left_radius{
    width:1037px;
    margin-left:-40px;
}
[class*="span12"]{
    margin-left:0!important;
}
#mainmenu #contact{
    margin-left:0px;
    margin-right:10px;
}
form{
    margin-left: 0!important;
}
#login{
    width:950px;
}
#logo{
    margin-right:10px;
}
.DivContentBox{
    border-color:#559128!important;
}
.spinner_adults{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.spinner_children{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.closeLink{
    margin-left:36px;
}
#navi > ul{
    margin-left:20px;
}
thead th{
    background:none!important;
}
tbody tr:nth-child(2n) td, tbody tr.even td{
    background:none!important;
}
#menu{
    width:950px;
    margin-top:23px;
}
#show{
    width:950px!important;
    margin-top:10px;
}
#login{
    width:950px!important;
}
#reg{
    margin-left:0px!important;
}
#logotip{
    margin-left:0px!important;
}
#last{
    margin-left:0px!important;
}
#sub{
    width:950px!important;
}
#footersubscribe{
    width:950px!important;
}
#logobottom{
    margin-left:0px!important;
}
#subscribebottom{
    margin-left:0px!important;
}
#footer{
    height:124px!important;
}
