#hotels-left-sidebar-wrapper h1,
#hotels-left-sidebar-wrapper h2,
#hotels-left-sidebar-wrapper h3,
#hotels-left-sidebar-wrapper h4,
#hotels-left-sidebar-wrapper h5,
#hotels-left-sidebar-wrapper h6,
#hotels-left-sidebar-wrapper input,
#hotels-left-sidebar-wrapper label,
#hotels-left-sidebar-wrapper textarea,
#hotels-left-sidebar-wrapper p,
#hotels-left-sidebar-wrapper span,
#hotels-left-sidebar-wrapper div,
#hotels-left-sidebar-wrapper table,
#hotels-left-sidebar-wrapper td,
#hotels-left-sidebar-wrapper th,
#hotels-left-sidebar-wrapper td:hover,
#hotels-left-sidebar-wrapper th:hover,
#hotels-left-sidebar-wrapper img { /*main font*/
    font-family: 'Arial' !important;
}
#clz-main-wrapper .sidebar-navSearchBox {
    background-color: #fff;
    border: 2px solid #559128;
    border-radius: 0;
    margin-bottom: 18px;
    margin-top: 2px;
    padding: 0 10px 10px;
}
#clz-main-wrapper .hdp_title h3 {
    background: none repeat scroll 0 0 #559128;
    border-bottom: none !important;
    color: #FFF;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    margin: 0 11px;
    padding-left: 0;
}
#clz-main-wrapper .hdp_title {
    background: none repeat scroll 0 0 #559128 !important;
    height: 36px;
    margin: 0 -10px 8px;
}
#clz-main-wrapper #cl_SearchFilter h3, #clz-main-wrapper .hliw_block label {
    color: #000000 !important;
    font-family: "Arial" !important;
    font-size: 12px !important;
    font-weight: normal !important;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper input {
    /*background: none repeat scroll 0 0 #FFFFFF !important;*/
    border: 1px solid #559128;
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    height: 20px !important;
    margin-bottom: 4px;
    padding: 4px;
}
.btn-group .btn:first-child {
    border-radius:0;
    border:1px solid #559128;
}
#clz-main-wrapper .hliw_wide_select_left {
    width: 125px !important;
}
#clz-main-wrapper .classname {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 65px !important;
}
#clz-main-wrapper .sidebar-navSearchIdBox {
    background-color: #EEEEEE;
    border: 2px solid #818181;
    border-radius: 0;
    margin-bottom: 14px;
    padding: 0 0 20px;
}
.SearchIdBox .Title {
    color: #000000 !important;
    font-size: 13px !important;
    font-weight: normal !important;
    padding-bottom: 4px !important;
    padding-left: 11px !important;
    padding-top: 10px !important;
}
.SearchIdBox .InputValue input {
    background-color: #FFF !important;
    clear: both !important;
    color: #000 !important;
    font-weight: bold !important;
    height: 20px !important;
    width: 191px !important;
}
#clz-main-wrapper .sidebar-navFilterBox {
    background-color: #fff;
    border: 2px solid #559128;
    border-radius: 0;
    padding: 0 10px 10px;
    width: 221px;
}
#clz-main-wrapper #hotels-left-sidebar-wrapper h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #559128;
    color: #000;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    margin: 0 0 17px;
    padding-left: 0;
}
#hotels-data-wrapper #hdw_top {
    background: none repeat scroll 0 0 #559128;
    border: 2px solid #559128;
    border-radius: 0px;
    height: 33px;
    margin: 4px 6px 10px;
    padding-top: 2px;
}
.SortTitle {
    color: #FFF;
    font-size: 13px !important;
    font-weight: normal;
    line-height: 30px !important;
    padding-left: 0;
}
.ResultTopCounter {
    color: #FFF;
    height: 20px;
    margin-top: -1px;
    padding-left: 10px;
    padding-top: 0;
}
#clz-main-wrapper #hdw_top a.btn {
    color: #FFF;
    /*margin-top: -3px !important;*/
    border-radius:0;
}
#clz-main-wrapper #hdw_top a.active {
    background: none repeat scroll 0 0 #559128;
    border:1px solid #FFF;
    font-weight: normal;
}
#clz-main-wrapper #hdw_top a.btn .caret {
    border-top-color: #FFFFFF;
}
#clz-main-wrapper .hotel-item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #FFFFFF;
    border: 2px solid #559128;
    border-radius: 0 !important;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.23);
    margin-bottom: 8px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 10px;
    width: 95%;
}
#clz-main-wrapper .ItemSelctionZone .FinalPrice {
    font-weight:normal !important;
}
#clz-main-wrapper .ItemSelctionZone {
    background: none repeat scroll 0 0 #EDEDED;
    border-radius: 0px;
    color: #363636;
    float: right;
    font-size: 14px;
    line-height: 15px;
    padding: 13px 21px;
    text-align: center;
    width: 144px;
}
#clz-main-wrapper .cars_res_block {

    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 12%, rgba(111,111,111,0) 53%, rgba(224,224,224,1) 95%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(12%,rgba(0,0,0,0)), color-stop(53%,rgba(111,111,111,0)), color-stop(95%,rgba(224,224,224,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 12%,rgba(111,111,111,0) 53%,rgba(224,224,224,1) 95%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,0,0,0) 12%,rgba(111,111,111,0) 53%,rgba(224,224,224,1) 95%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0) 12%,rgba(111,111,111,0) 53%,rgba(224,224,224,1) 95%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(0,0,0,0) 12%,rgba(111,111,111,0) 53%,rgba(224,224,224,1) 95%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    /*background: none repeat scroll 0 0 #FFF;*/
    border: 2px solid #559128;
    border-radius: 0;
    height: 125px;
    margin: 9px -5px 0px;
    overflow: hidden;
}
#clz-main-wrapper .cars_res_btn {
    background-color: #FFF !important;
    border: 1px solid #818181 !important;
    border-radius: 0px;
    float: right;
    height: 94px;
    margin: 10px;
    padding-top: 11px;
    text-align: center;
    width: 175px;
    line-height:1.3!important;
}
.classnameRed {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-top: -16px;
}
.classnameGray {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.MapExpenderContainer {
    /*border: 2px solid #818181;
    border-radius: 0 !important;*/
    display:none !important;
}


/****************************************************/
/*#clz-main-wrapper .hliw_block {
	width: 287px;
}*/
.btn-group .btn:first-child {
    margin-left: -66px;
}
#clz-main-wrapper .hliw_block {
    width: /*217px*/208px;
}
#clz-main-wrapper .hliw_wide_select ul.dropdown-menu {
    height: 88px;
    margin-left: -85px !important;
    margin-top: 30px !important;
    min-width: 138px;
    overflow: scroll;
    width: 180px;
}
#clz-main-wrapper .hliw_wide_select_left {
    left: 11px !important;
    position: absolute;
    width: 134px !important;
}
img.LoadingBox {
    display:none !important;
}
#clz-main-wrapper #hmid_left_top h3 {
    color: #0076a3;
    font-family: 'Arial' !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.pull-left .cars_res_sup {
    display:none;
}
#content{
    width:1040px;
    margin-left:-48px;
}

.filter_left_radius{
    width:1037px;
    margin-left:-40px;
}
[class*="span12"]{
    margin-left:0!important;
}
#mainmenu #contact{
    margin-left:0px;
    margin-right:10px;
}
form{
    margin-left: 0!important;
}
#login{
    width:950px;
}
#logo{
    margin-right:10px;
}
.DivContentBox{
    border-color:#559128!important;
}
.spinner_adults{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.spinner_children{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.closeLink{
    margin-left:36px;
}
#navi > ul{
    margin-left:20px;
}
thead th{
    background:none!important;
}
tbody tr:nth-child(2n) td, tbody tr.even td{
    background:none!important;
}
#menu{
    width:950px;
    margin-top:15px;
}
#show{
    width:950px!important;
    margin-top:5px;
}
#login{
    width:950px!important;
}
#reg{
    margin-left:0px!important;
}
#logotip{
    margin-left:0px!important;
}
#last{
    margin-left:0px!important;
}
#sub{
    width:950px!important;
}
#footersubscribe{
    width:950px!important;
}
#logobottom{
    margin-left:0px!important;
}
#subscribebottom{
    margin-left:0px!important;
}
#footer{
    height:124px!important;
}
.cars_res_opt_tbl caption{
    padding:0px!important;
    background:none!important;
}
