/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

#hotels-left-sidebar-wrapper h1,
#hotels-left-sidebar-wrapper h2,
#hotels-left-sidebar-wrapper h3,
#hotels-left-sidebar-wrapper h4,
#hotels-left-sidebar-wrapper h5,
#hotels-left-sidebar-wrapper h6,
#hotels-left-sidebar-wrapper input,
#hotels-left-sidebar-wrapper label,
#hotels-left-sidebar-wrapper textarea,
#hotels-left-sidebar-wrapper p,
#hotels-left-sidebar-wrapper span,
#hotels-left-sidebar-wrapper div,
#hotels-left-sidebar-wrapper table,
#hotels-left-sidebar-wrapper td,
#hotels-left-sidebar-wrapper th,
#hotels-left-sidebar-wrapper td:hover,
#hotels-left-sidebar-wrapper th:hover,
#hotels-left-sidebar-wrapper img { /*main font*/
    font-family: 'Arial' !important;
}
#hotels-left-sidebar-wrapper {
    background-color: #fff;
    border: 2px solid #559128;
    border-radius:0;
    min-height: 378.5px !important;
    height: 100%;
    width: 272px;
    /*width: 495px !important;*/
}
.hdp_title h3 {
    background: #559128 !important;
    border-bottom: none;
    color: #FFF;
    font-size: 13px !important;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    margin: 0 11px;
    padding-left: 0;
}
.hdp_title {
    background: #559128 !important;
    margin: 0 -10px 7px;
    height: 37px;
}
#cl-search-box, #hotels-left-sidebar-wrapper, .hliw_block label {
    font-size: 12px !important;
    font-weight: normal !important;
    color:#000;
}
#clz-main-wrapper .hliw_block label {
    font-weight: normal !important;
    color:#000 !important;
    /*margin-bottom:2px;*/
    line-height: 23px;
}
#hotels-left-sidebar-wrapper input {
    border: 1px solid #559128;
    font-size: 12px;
    height: 20px !important;
    margin-bottom: 4px;
    vertical-align: middle;
    border-radius: 0;
}

#sbc_advanced { /*hide advanced options*/
    display:none;
}
.hliw_wide_select .hliw_wide_select_left, .hliw_wide_select .hliw_wide_select_left:active, .hliw_wide_select .hliw_wide_select_left:hover {
    border-color: #559128;
    border-radius:0;
}
.btn-group .btn:first-child {
    border-radius:0 !important;
}
#search_bottom_cont a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#hotels-left-sidebar-wrapper .hotels-datepicker-wrapper input.hotels-datepicker-input {
    background: url("http://worldtravelink.com/static/img/dtpc_gb1.png") no-repeat scroll 96% 46% #FFFFFF;
}
/*****************начало того что надо отключить когда откоректируют русский язык*********/
.cl_Currency {
    display:none !important;
}
.radio-wrapper {
    display:none !important;
}
#search_advanced_block{
    display:none !important;
}
.row-fluid, .hliw_block{
    width:/*281px*/283px !important;
}
.spinner_wrapper > img {
    bottom: 9px;
    right: 43px;
}
.btn-group .btn:first-child {
    margin-left: -56px;
    width: 161px !important;
}
#search_bottom_cont {
    left: 119px;
    position: absolute;
    width: 137px !important;
}
/*.SearchLoadingIcon  ,*/ /*.BookLoadingIcon , */.LocationLoaderIcon {
                                                     position: absolute !important;
                                                     left: 222px !important;
                                                     top: 27px !important;
                                                 }
.SearchLoadingIcon {
    position: absolute !important;
    left: 82px !important;
    top: 5px !important;
}
.btn-group.open .dropdown-menu {
    height: 50px !important;
    margin-left: -63px !important;
    width: 184px !important;
}
img.LoadingBox {
    display:none !important;
}
#content{
    width:1020px;
    margin-left:-40px;
}

.filter_left_radius{
    width:1017px;
    margin-left:-40px;
}
[class*="span12"]{
    margin-left:0!important;
}
#mainmenu #contact{
    margin-left:0px;
    margin-right:10px;
}
form{
    margin-left: 0!important;
}
#login{
    width:950px;
}
#logo{
    margin-right:10px;
}
.menutop_bg_l{
    /*padding-top:5px;*/
    background-position:left bottom!important;
}
.spinner_driver_age{
    margin-top:0px!important;
}
.hotels-datepicker-input.hasDatepicker{
    margin-top:0px!important;
}
.CarsCheckInTime.hasTimepicker{
    margin-top:0px!important;
}
.hdp_input.gm_location_field.ui-autocomplete-input{
    margin-top:0px!important;
}
thead th{
    background:none!important;
}
tbody tr:nth-child(2n) td, tbody tr.even td{
    background:none!important;
}
#menu{
    width:950px;
    margin-top:15px;
}
#show{
    width:950px!important;
    margin-top:5px;
}
#login{
    width:950px!important;
}
#reg{
    margin-left:0px!important;
}
#logotip{
    margin-left:0px!important;
}
#last{
    margin-left:0px!important;
}
#sub{
    width:950px!important;
}
#footersubscribe{
    width:950px!important;
}
#logobottom{
    margin-left:0px!important;
}
#subscribebottom{
    margin-left:0px!important;
}
#footer{
    height:124px!important;
}