#hotels-left-sidebar-wrapper h1,
#hotels-left-sidebar-wrapper h2,
#hotels-left-sidebar-wrapper h3,
#hotels-left-sidebar-wrapper h4,
#hotels-left-sidebar-wrapper h5,
#hotels-left-sidebar-wrapper h6,
#hotels-left-sidebar-wrapper input,
#hotels-left-sidebar-wrapper label,
#hotels-left-sidebar-wrapper textarea,
#hotels-left-sidebar-wrapper p,
#hotels-left-sidebar-wrapper span,
#hotels-left-sidebar-wrapper div,
#hotels-left-sidebar-wrapper table,
#hotels-left-sidebar-wrapper td,
#hotels-left-sidebar-wrapper th,
#hotels-left-sidebar-wrapper td:hover,
#hotels-left-sidebar-wrapper th:hover,
#hotels-left-sidebar-wrapper img { /*main font*/
    font-family: 'Arial' !important;
}
#hotels-left-sidebar-wrapper {
    background-color: #FFFFFF;
    border: 2px solid #818181;
    border-radius: 0px;
    padding: 0 10px 10px;
    width: 265px;
    position:relative;
}
.Resident_Title {
    display:none !important;
}
#hotels-left-sidebar-wrapper #sbc_advanced {
    display:none !important;
}
#cl_search_roomsInfo {
    background-color: transparent !important;
}
.hdp_title h3 {
    border-bottom: 1px solid #559128;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 35px;
    margin: 0 11px;
    padding-left: 0;
}
.hotels-left-inside-wrapper h3, .hliw_block label {
    color: #000 !important;
    font-family: Tahoma !important;
    font-size: 14px !important;
    font-weight: normal;
}
#hotels-left-sidebar-wrapper input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #559128;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 15px;
    height: 35px !important;
    margin-bottom: 9px;
    padding: 4px 14px 4px 4px;
    width: 235px !important;
    margin-top:0px;
}
#hotels-left-sidebar-wrapper .spinner_wrapper input {
    width: 55px !important;
    height: 25px !important;
}
.row-fluid > [class*="span"]:first-child { /*дата заезда*/
    position:inherit;
    left:0 !important;
    top:-3.5px;
}
.row-fluid > [class*="span"] { /*дата выезда*/
    position:inherit;
    left:9px !important;
    top:-3.5px;
}
#cl_search_roomsInfo { /*блок с комнатами*/
    position:relative;
    top:-2px;
    left:-17px;
    background-color: #FFF;
    margin-left:2px !important;
}
#cl_search_roomsInfo.hliw_block label {
    display:none !important;
}
.cl_addroom a {
    display:none !important;
}
.cl_addroom {
    display:none !important;
}
#hotels-left-sidebar-wrapper .spinner_children_age {
    width: 30px !important;
    height: 25px !important;
}
#hotels-left-sidebar-wrapper {
    font-family: 'Arial' !important;
    font-size: 13px;
}
.ui-widget {
    font-size: 15px;
    font-family: 'Arial' !important;
}
.classname {
    background: -moz-linear-gradient(center top , #559128 5%, #559128 100%) repeat scroll 0 0 #559128;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #559128), color-stop(1, #559128));
    xfilter: progid:dximagetransform.microsoft.gradient(startColorstr='#559128', endColorstr='#559128');
    background:#559128;
    background-color: #559128;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 1px solid #559128;
    cursor:pointer;
    -moz-box-shadow: inset 0px 1px 0px 0px #559128;
    -webkit-box-shadow: inset 0px 1px 0px 0px #559128;
    box-shadow: 0 1px 0 0 #559128 inset;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Arial";
    font-size: 16px;
    font-weight: normal;
    padding: 6px 18px;
    text-align: center !important;
    text-decoration: none !important;
    width: 82px !important;
    line-height: 26px;
    text-shadow:none !important;
}
.classname:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #336622), color-stop(1, #336622));
    xfilter: progid:dximagetransform.microsoft.gradient(startColorstr='#336622', endColorstr='#336622');
    background: -moz-linear-gradient(center top , #336622 5%, #336622 100%) repeat scroll 0 0 #336622;
    background:#336622;
    background-color: #336622;
    color: #FFFFFF;
}
#hotels-left-sidebar-wrapper {
    background-color: rgba(238, 238, 238, 0.83);
    border: 2px solid #559128;
    border-radius: 0;
}
.customize_sub_label {
    color: #000000;
}
#hotels-left-sidebar-wrapper .hotels-datepicker-wrapper label input.hotels-datepicker-input {
    background: url("../img_mod/wtl/calen11.png") no-repeat scroll /*95% 48%*/ 94% 48% #FFFFFF !important;
    /*width: 96% !important;*/
}
#hotels-left-sidebar-wrapper input:focus {
    border:1px solid #F99600;
    box-shadow: inset 0 0 4px #F99600;
}


/*.SearchLoadingIcon  , .BookLoadingIcon ,*/
.LocationLoaderIcon {
    position:absolute;
    left:210px;
    top:27px;
}
.SearchLoadingIcon  {
    position:absolute;
    left:194px;
    top:10px;
}
/**************************************/
.hliw_stars_block {
    display:none !important;
}
.btn-group, .hliw_wide_select {
    display:none !important;
}
#content{
    width:1020px;
    margin-left:-40px;
}

.filter_left_radius{
    width:1017px;
    margin-left:-40px;
}
[class*="span12"]{
    margin-left:0!important;
}
#mainmenu #contact{
    margin-left:0px;
    margin-right:10px;
}
form{
    margin-left: 0!important;
}
#login{
    width:950px;
}
#logo{
    margin-right:10px;
}
.menutop_bg_l{
    padding-top:5px;
    background-position:left bottom!important;
}
thead th{
    background:none!important;
}
tbody tr:nth-child(2n) td, tbody tr.even td{
    background:none!important;
}
#menu{
    width:950px;
    margin-top:23px;
}
#show{
    width:950px!important;
    margin-top:10px;
}
#login{
    width:950px!important;
}
#reg{
    margin-left:0px!important;
}
#logotip{
    margin-left:0px!important;
}
#last{
    margin-left:0px!important;
}
#sub{
    width:950px!important;
}
#footersubscribe{
    width:950px!important;
}
#logobottom{
    margin-left:0px!important;
}
#subscribebottom{
    margin-left:0px!important;
}
#footer{
    height:124px!important;
}
