body {
    padding:0;
    margin:0;
}
#slider-wrap{ /* Оболочка слайдера и кнопок */
    width:978px;
}
#slider{ /* Оболочка слайдера */
    width:978px;
    height:391px;
    overflow: hidden;
    border:#eee solid 1px;
    position:relative;}
.slide{ /* Слайд */
    width:100%;
    height:100%;
}
.sli-links{ /* Кнопки смены слайдов */
    margin-top:/*10px*/ -23px; /*change*/
    text-align:center;}
.sli-links .control-slide{
    margin:2px;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    background:url('../img/radioBg.png') center bottom no-repeat;}
.sli-links .control-slide:hover{
    cursor:pointer;
    background-position:center center;}
.sli-links .control-slide.active{
    background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
    display:block;
    width:15px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url('../img/arrowBg.png') left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;}
#prewbutton{left:10px;}
#nextbutton{
    right:10px;
    background:url('../img/arrowBg.png') right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
    opacity:1;}